[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.2"
pysocks = "==1.7.1"
pydantic = "==1.10.7"
moviepy = "==1.0.3"
pycryptodomex = "==3.17"

[dev-packages]

[requires]
python_version = "3.9"
