[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "instagrapi"
version = "2.2.1"
authors = [
    {name = "Mark Subzeroid", email = "143403577+subzeroid@users.noreply.github.com"}
]
description = "Fast and effective Instagram Private API wrapper"
readme = {content-type = "text/markdown", text = """
Fast and effective Instagram Private API wrapper (public+private requests and challenge resolver).

Use the most recent version of the API from Instagram.

Features:

1. Performs Public API (web, anonymous) or Private API (mobile app, authorized)
   requests depending on the situation (to avoid Instagram limits)
2. Challenge Resolver have Email (as well as recipes for automating receive a code from email) and SMS handlers
3. Support upload a Photo, Video, IGTV, Clips (Reels), Albums and Stories
4. Support work with User, Media, Insights, Collections, Location (Place), Hashtag and Direct objects
5. Like, Follow, Edit account (Bio) and much more else
6. Insights by account, posts and stories
7. Build stories with custom background, font animation, swipe up link and mention users
8. In the next release, account registration and captcha passing will appear
"""}
license = {text = "MIT"}
requires-python = ">=3.9"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]
keywords = [
    "instagram private api",
    "instagram-private-api",
    "instagram api",
    "instagram-api",
    "instagram",
    "instagram-scraper",
    "instagram-client",
    "instagram-stories",
    "instagram-feed",
    "instagram-reels",
    "instagram-insights",
    "downloader",
    "uploader",
    "videos",
    "photos",
    "albums",
    "igtv",
    "reels",
    "stories",
    "pictures",
    "instagram-user-photos",
    "instagram-photos",
    "instagram-metadata",
    "instagram-downloader",
    "instagram-uploader",
    "instagram-note",
]
dependencies = [
    "requests==2.32.4",
    "PySocks==1.7.1",
    "pydantic==2.11.7",
    "moviepy==1.0.3",
    "pycryptodomex==3.23.0",
]

[project.urls]
Homepage = "https://github.com/subzeroid/instagrapi"
Repository = "https://github.com/subzeroid/instagrapi"

[project.optional-dependencies]
test = [
    "flake8==7.3.0",
    "Pillow==11.3.0",
    "isort==6.0.1",
    "bandit==1.8.6",
    "mike==2.1.3",
    "markdown-include==0.8.1",
    "mkdocs-material==9.6.15",
    "mkdocs-minify-html-plugin>=0.3.1",
    "mkdocstrings==0.29.1",
    "pytest-xdist==3.8.0",
    "pytest~=8.4.0",
]

[tool.setuptools]
include-package-data = true

[tool.setuptools.packages.find]
where = ["."]
include = ["instagrapi*"]
