appdirs==1.4.4
astroid==2.5.2
black==20.8b1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
decorator==5.0.5
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
isort==5.8.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
moviepy==1.0.3
mypy-extensions==0.4.3
Naked==0.1.31
numpy==1.20.2
pathspec==0.8.1
Pillow==8.2.0
proglog==0.1.9
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
pydantic==1.8.1
pylint==2.7.4
PyNaCl==1.4.0
PySocks==1.7.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
shellescape==3.8.1
six==1.15.0
toml==0.10.2
tqdm==4.59.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wrapt==1.12.1
