flake8==3.9.2
Pillow==8.3.2
isort==5.9.3
bandit==1.7.0
mike==1.1.1
markdown-include==0.6.0
mkdocs-material==7.3.0
mkdocs-minify-plugin==0.4.1
mkdocstrings==0.16.1
./util/mkdocs-redirects
./util/mkdocstrings_patch_type_aliases
