flake8==7.0.0
Pillow==10.3.0
isort==5.13.2
bandit==1.7.9
mike==2.1.1
markdown-include==0.8.1
mkdocs-material==9.5.25
mkdocs-minify-plugin==0.8.0
mkdocstrings==0.25.1
./util/mkdocs-redirects
./util/mkdocstrings_patch_type_aliases
pytest-xdist==3.6.1
pytest~=8.2.2
