---
name: Validation

permissions:
  pull-requests: write

on:
  push:
    branches:
      - '*'
      - '*/*'
      - '**'
      - '!master'
      - '!main'

jobs:
  pr:
    uses: obervinov/_templates/.github/workflows/pr.yaml@v2.1.1
