---
name: Release

permissions:
  contents: write
  pull-requests: read

on:
  pull_request:
    branches:
      - master
      - main
    types:
      - closed

jobs:
  release:
    uses: obervinov/_templates/.github/workflows/release.yaml@v2.1.1
